<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controla1</servlet-name>
        <servlet-class>control.controla1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admi</servlet-name>
        <servlet-class>control.admi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admi2</servlet-name>
        <servlet-class>control.admi2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRegistro</servlet-name>
        <servlet-class>control.ControlRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>control.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlIMG</servlet-name>
        <servlet-class>control.ControIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaaaa</servlet-name>
        <servlet-class>control.aaaaa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>q</servlet-name>
        <servlet-class>control.aaaaa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCliente</servlet-name>
        <servlet-class>control.ControlCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlConsulta</servlet-name>
        <servlet-class>control.ControlConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCarrito</servlet-name>
        <servlet-class>control.ControlCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlLocations</servlet-name>
        <servlet-class>control.ControlLocations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>controla1</servlet-name>
        <url-pattern>/controla1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admi</servlet-name>
        <url-pattern>/admi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admi2</servlet-name>
        <url-pattern>/admi2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRegistro</servlet-name>
        <url-pattern>/ControlRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlIMG</servlet-name>
        <url-pattern>/controlIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaaaa</servlet-name>
        <url-pattern>/aaaaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>q</servlet-name>
        <url-pattern>/q</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCliente</servlet-name>
        <url-pattern>/ControlCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlConsulta</servlet-name>
        <url-pattern>/ControlConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlLocations</servlet-name>
        <url-pattern>/ControlLocations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCarrito</servlet-name>
        <url-pattern>/ControlCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
